<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TPC Sambur Suite" parallel="false">
    <test name="Login and Color Tests">
        <classes>
            <class name="com.in.saragroup.tpcsambur.tests.color.ColorTest"/>
        </classes>

    </test>
    <listeners>
       <listener class-name="com.in.saragroup.tpcsambur.listeners.TestListener"></listener>
    </listeners>
</suite>